@font-face {
    font-family: 'Jura';
    src: url('../assets/fonts/Jura-VariableFont_wght.woff2') format('woff2');
    font-weight: 300 700;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: 'Jura', sans-serif;
}